body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Estilos específicos para páginas */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul#lista-aparelhos {
    list-style-type: none;
    padding: 0;
}

ul#lista-aparelhos li {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

ul#lista-aparelhos img {
    max-width: 100%;
    height: auto;
}

#detalhes-aparelho {
    text-align: center;
}

#detalhes-aparelho img {
    max-width: 80%;
    height: auto;
    margin: 20px 0;
}